@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

/*-------------------------------------
 * customize material design icon sizes 
 *-------------------------------------
 */

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


.material-icons{
    cursor: pointer;
}

#specificallyContainer {
    text-align: center;
}

.bg-info {
    background-color: #D3EEFA !important;
}

.navbar-light .navbar-brand {
    color: #46C1E3;
}
.navbar-brand, .navbar-nav {
    font-family: 'Bree Serif', serif !important;
}
body {
    background-color: white;
}

.btn {
    color: white;
    background-color: #4F35F2;
}

.btn-info {
    color: white;
    background-color: #0BA4DC;
}